{% extends 'base.html' %}
{% load static %}

{% block title %} Viajem Connect {% endblock title %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="/home">ViagemConnect</a>
        {% else %}
            <a class="navbar-brand" href="/">ViagemConnect</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary rounded" type="submit" href="{% url 'logout' %}">Sair</button>
                    </form>
                {% else %}
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/cadastro">Cadastre-se</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock nav %}

{% block pageHeader %}
    {% if object.imagem %}
        <header class="masthead" style="background-image: url({{ object.imagem.url }})">
    {% else %}
        <header class="masthead" style="background-image: url({% static 'assets/img/background-3.jpg' %})">
    {% endif %}
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>{{ object.nome }}</h1>
                        <span class="subheading">{{ object.destino }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock pageHeader %}

{% block mainContent %}
    <div class="row px-4 px-lg-5">
        <div class="col-9 text-left">
            <div class="row">
                <h3 class="text-center">Detalhes da viagem</h3>
                <p>Destino: {{ object.destino }}</p>
                <p>{{ object.descricao }}</p>
                <p>Data de Saída: {{ object.dataSaida }}</p>
                <!-- Divider-->
                <hr class="my-4" />
            </div>
            {% if user.is_authenticated %}
                {% if user in object.integrantes.all %}
                    <div class="row">
                        <h3 class="text-center">Roteiro de viagem</h3>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                    <div class="row">
                        <h3 class="text-center">Sugestão de hotéis</h3>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                    <div class="row">
                        <h3 class="text-center">Sugestão de transportes</h3>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                    <div class="row">
                        <h3 class="text-center">Grupo WhatsApp</h3>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-3 text-center">
            <div class="row">
                <div class="col-12">
                    <h3>Integrantes:</h3>
                    {% if user.is_authenticated %}
                        {% if user in object.integrantes.all %}
                            {% if object.integrantes.exists %}
                                {% for integrante in viagem.integrantes.all %}
                                    <p>{{ integrante.username }}</p>
                                {% endfor %}
                            {% else %}
                                    <p>Nenhum integrante.</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
            </div>
            <div class="row text-center justify-content-center">
                {% if user.is_authenticated %}
                    {% if user not in object.integrantes.all %}
                        <form method="post" action="{% url 'join-viagem' object.slug %}">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit">Entrar no grupo</button>
                        </form>
                    {% else %}
                        <form method="post" action="{% url 'leave-viagem' object.slug %}">
                            {% csrf_token %}
                            <button class="btn btn-warning" type="submit">Sair do grupo</button>
                        </form>
                    {% endif %}
                {% else %}
                    <p><a href="{% url 'login' %}">Faça login para entrar no grupo.</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock mainContent %}

{% block footer %}
<footer class="border-top bg-dark" >
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy;  All rights reserved | Viagem Connect 2024</div>
            </div>
        </div>
    </div>
</footer>
{% endblock footer %}